<!-- Custom or default site title -->
<div class='divlogo'><img id="logo"/></div>
{{ if (templates.Exists "partials/custom/site-title.html") }}
  {{ partial "custom/site-title" . }}
{{ else }}
  <div class ="header">{{ .Site.Title }}</div>
{{ end }}
<!-- Menu -->
{{ if .Site.Menus.main }}
  {{ with .Site.Menus.main }}
    <nav aria-label="{{ T "ariaMainMenu" }}">
      <ul>
        {{ range . }}
          <li>
            <a class="btn" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  {{ end }}
{{ end }}
